body {
  margin: 0;
  padding: 0;
  background-image: url('./assets/wall2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
  position: relative;
  min-height: 100vh;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
  
}
.tux{
  margin-top: 100px;


    position: absolute;

 
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0);

}
